h1
{
    color:rgb(85, 85, 236); 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: medium;
    text-align: center;
}
green
{
    color:rgb(4, 247, 166);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: medium;
    text-align: center;
}
